Source: commons-csv
Section: libs
Priority: optional
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Uploaders: Jan-Pascal van Best <janpascal@vanbest.org>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 5.0.0), cdbs (>=0.4.48), dpatch (>= 2.0),
 openjdk-6-jdk, ant-optional (>= 1.6.5), junit (>= 3.8.1)
Standards-Version: 3.8.0
Vcs-Svn: svn://svn.debian.org/svn/pkg-java/trunk/commons-csv
Vcs-Browser: http://svn.debian.org/wsvn/pkg-java/trunk/commons-csv
Homepage: http://jakarta.apache.org/commons/sandbox/csv/

Package: libcommons-csv-java
Architecture: all
Depends: openjdk-6-jre | java2-runtime
Suggests: java-virtual-machine
Description: a Java library for working with csv (comma separated values) files
 libcommons-csv-java is the Apache Commons library for working with csv (comma
 separated value) files.

Package: libcommons-csv-java-doc
Architecture: all
Section: doc
Description: documentation for libcommons-csv-java
 libcommons-csv-java is the Apache Commons library for working with csv (comma
 separated value) files.
 .
 This package contains the API documentation for the Commons CSV library
